<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/responsive.css">
    <title>NFT MarketPlace</title>
</head>

<body>
    <nav class="navbar background h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo"><img src="static/image/OIP.jfif" alt="logo"></div>
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#marketplace">Market Place</a></li>
            <li><a href="#contact">Contact Us</a></li>
        </ul>
        <div class="rightNav v-class-resp">
            <input type="text" name="search" id="search">
            <button class="btn btn-sm">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>

    <section class="background firstSection">
        <div class="box-main">
            <div class="firstHalf">
                <p class="text-big">The Future of NFT is here</p>
                <p class="text-small">In this world of 7 billion people we need to educate all of them. This is the
                    future of an educated world and we are proud to say that the Future of NFT is here</p>
                <div class="buttons">
                    <button class="btn">Buy</button>
                    <button class="btn">Sell</button>

                </div>
            </div>

            <div class="secondHalf">
                <img src="static/image/bg.jpg" alt="Laptop Image">
            </div>
        </div>
    </section>

    <section class="section">
        <div class="paras">
        <p class="sectionTag text-big">The end of your search is here</p>
        <p class="sectionSubTag text-small">A non-fungible token (NFT) is a non-interchangeable
             unit of data stored on a blockchain, a form of digital ledger, that can be sold and 
             traded. Types of NFT data units may be associated with digital files such as 
             photos, videos, and audio. Because each token is uniquely identifiable, NFTs differ 
             from most cryptocurrencies, such as Bitcoin, which are fungible. </p>
        </div>
        <div class="thumbnail">
            <img src="https://source.unsplash.com/900x900/?digital,art" alt="laptop image" class="imgFluid">
        </div>
    </section>

    <section class="section section-left" id="about">
        <div class="paras">
        <p class="sectionTag text-big">Transforming NFT in India</p>
        <p class="sectionSubTag text-small">There is a lot of scepticism around the future of NFTs in India,
             and the validity of NFT transactions. One of the reasons is the question of the legality of 
             cryptocurrency in the country, which remains unanswered. In 2018, the central bank, the Reserve
              Bank of India (RBI), had issued a circular asking banks not to deal with or provide any 
              services to entities dealing with virtual currencies.</p>
        </div>
        <div class="thumbnail">
            <img src="https://source.unsplash.com/900x900/?creative,nft" alt="laptop image" class="imgFluid">
        </div> 
    </section>
    <section class="section" id="services">
        <div class="paras">
        <p class="sectionTag text-big">Lets Grow Together</p>
        <p class="sectionSubTag text-small">An NFT is a unit of data, stored on a type of digital ledger 
            called a blockchain, which can be sold and traded.[3] The NFT can be associated with a 
            particular digital or physical asset (such as a file or a physical object) and a license to 
            use the asset for a specified purpose. An NFT (and, if applicable, the associated license 
            to use, copy, or display the underlying asset) can be traded and sold on digital markets.
            The extralegal nature of NFT trading usually results in an informal exchange of ownership 
            over the asset that has no legal basis for enforcement, and so often confers little more 
            than use as a status symbol.</p>
        
        
        </div>
        <div class="thumbnail">
            <img src="https://source.unsplash.com/900x900/?blockchain,minting" alt="laptop image" class="imgFluid">
        </div>
    </section>
     
    <section class="contact" id="contact">
        <h1 class="text-center">Contact Us</h1>
        <div class="form">
            <input class="form-input" type="text" name="name" id="name" placeholder="Enter Your name">
            <input class="form-input" type="text" name="phone" id="phone" placeholder="Enter Your Phone">
            <input class="form-input" type="email" name="email" id="email" placeholder="Enter Your email">
             <textarea class="form-input" name="text" id="text" cols="30" rows="10" placeholder="Ellaborate your concern"></textarea>
            <button class="btn btn-sm btn-dark">Submit</button>
        </div>
    </section>

    <footer class="background">
        <p class="text-footer">
            Copyright &copy; 2027 - NFT Marketplace Minor2 - All rights reserved
        </p>
    </footer>
    <script src="static/js/resp.js"></script>

</body>

</html>